.container {
  border: 1px outset var(--bole);
  background-color: #fff5ee;
  border-radius: 5px;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column-reverse;
  overflow: hidden;
}