.titlebar {
  user-select: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  top: 1.1px;
  right: 1.1px;
}

.titlebar-button {
  all: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: background 200ms;

  & svg {
    margin-inline-start: 1px;
  }

  &:nth-child(2) {
    border-top-right-radius: 2.8px;
  }

  &:hover {
    background: var(--peash);

    &:nth-child(2) {
      background: var(--damasco);
    }
  }
}

.titlebar-button:hover .circle {
  fill: #f7b88b;
}

.circle {
  transition: fill 200ms;
}