@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:wght@400;700&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #572d1c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --seal-brown: #572d1c;
  --bole: #773f29;
  --seashell: #fff5ee;
  --peash: #f7b88b;
  --damasco: #ef6351;
  --font-dm-sans: DM Sans;
  --font-dm-mono: DM Mono;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  padding: 0;
  overflow: hidden;
}

svg {
  display: block;
  max-width: 100%;
}