@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:wght@400;700&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #572d1c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  padding: 0;
  overflow: hidden;
}

svg {
  display: block;
  max-width: 100%;
}

.timer {
  color: #f7b88b;
  text-align: center;
  font-family: DM Mono, monospace;
  font-size: 62px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1%;
  -webkit-text-stroke: 2px #572d1c;
  user-select: none;
}

.container {
  border: 1px solid #572d1c;
  background-color: #fff5ee;
  border-radius: 5px;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
  overflow: hidden;

}

.titlebar {
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: .5px;
  left: 0;
  right: .6px;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: background 200ms;
}

.titlebar-button:nth-child(3) {
  border-top-right-radius: 5px;
}

.titlebar-button:hover {
  background: #f7b88b;
}

button {
  position: relative;
}

.none {
  max-height: 50px;
}

button::after {
  content: attr(data-title);
  position: absolute;
  border: 1px solid blue;
  background: red;
  top: -30px;
  left: 0;
  margin-inline: auto;
  padding: 5px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 400ms;
  pointer-events: none;
}

button:hover::after {
  opacity: 1;
}

.next {
  transition: fill 200ms, stroke 200ms;
}

button:hover .next {
  fill: #572d1c;
  stroke: #572d1c;
}

.circle {
  transition: fill 200ms;
}

.titlebar-button:hover .circle {
  fill: #f7b88b;
}

.timer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.buttons-section button {
  background-color: transparent;
  border-radius: 100vh;
  padding: 0;
  outline: none;
  border: 0;
}

svg {
  transition: scale 150ms;
}

button:hover svg {
  scale: 1.04;
}

button:active svg {
  scale: 1;
}

.doing {
  color: #572d1c;
  text-align: center;
  font-family: DM Sans;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.31px;
  user-select: none;
}