.doing-section {
  opacity: 1;
  transition: opacity 250ms;
}

.doing {
  color: #572d1c;
  font-family: DM Sans;
  font-size: clamp(1.25rem, 5vw, 2rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.31px;
  user-select: none;
}

span .cycle-counter {
  margin-block-start: .32rem;
  margin-inline: .5rem;
}

.doing-animation {
  transition: opacity 250ms;
  opacity: 0;
}